# Nějaký komentář

# Zapneme modul pro přepisování "url"
RewriteEngine On

# pokud prijde pozadavek na jakekoliv url co neexistuje
# napr. /kontakt nebo /blabla, tak misto toho zmenit url
# na index.php?stranka=TOCOJEVURL
# takze napr. /kontakt se nam zmeni na index.php?stranka=kontakt

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.+) index.php?stranka=$1 [L,QSA]